<div class="show-tag-list__wrapper">
  <% field.selected_assets.each do |asset| %>
    <a href='<%= admin_asset_path(asset) %>'>
      <%= render partial: 'shared/asset', object: asset %>
    </a>
  <% end %>
</div>
