@import 'administrate/components/dropdown-button';

.admin-app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  height: $header-height;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 7px -4px $grey-7;
  z-index: 100;

  &__content {
    display: flex;
    align-items: center;
    gap: 1em;

    width: 100%;
    max-width: 100rem;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.5em;

    h1 {
      user-select: none;
      cursor: default;
    }

    .right-aligned {
      margin-left: auto;
    }

    .dropdown-wrapper {
      position: relative;
    }
    .barcode-scanner-btn {
      padding: 0.25em 0.5em;
      color: $grey-7;
      border-color: $grey-5;
      margin: 0;

      & > img {
        width: 1.5em;
        height: 1.5em;
      }

      .label-text {
        margin-left: 0.4em;
        margin-bottom: 1px;
        font-weight: normal;
      }

      &:hover {
        color: $grey-0;
        background-color: $grey-7;
      }
      &:focus {
        outline: 3px solid rgba(103, 103, 103, 0.6);
      }
    }
    .dropdown-content {
      right: 0;
      cursor: pointer;
      white-space: nowrap;
      border-radius: 0.5em;
      box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.4);

      li {
        display: grid;
        grid-template-columns: 32px auto;
        align-items: center;
        gap: 1em;

        padding: 0.75em 1.2em;
        border-radius: 0.5em;

        &:hover {
          background-color: $grey-0;
        }

        &:not(:first-of-type) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid $grey-1;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        .dropdown-icon {
          width: 2em;
          height: 2em;
        }
      }
    }
  }
}
