@import '@simonwep/pickr/dist/themes/nano.min.css';

/* Tag List Form */
.field-unit .tag-list {
  .selectize-input {
    .tag-list__item {
      display: inline-flex;
      align-items: center;

      color: black;
      filter: none;
      border-color: #9b9b9b;
      background-color: white;
      background-image: none;
      background-repeat: repeat-x;
      text-shadow: none;

      &.active {
        color: black;
        background-color: #ddd;
        background-image: none;
        border-color: gray;
      }

      &__text {
        line-height: 1.75;
        margin-left: 0.4em;
        padding-bottom: 1px;
      }

      & .remove {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 4px;
        border-left-color: #b6b6b6;
      }
    }
  }

  .selectize-dropdown {
    .tag-list__option {
      display: flex;
      align-items: center;

      padding: 0.5em 12px;

      &__text {
        margin-left: 0.4em;
        padding-bottom: 1px;
      }
    }
  }
}

/* Tag List Read-Only "Show" View */
.show-tag-list__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 3px;
}

/* views/shared/_asset_tag partial */
.asset-tag {
  display: flex;
  align-items: center;

  padding: 2px 6px;
  border-radius: 3px;
  border: 1px solid #9b9b9b;
  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
  cursor: default;

  &__text {
    color: black;
    font-size: 13px;
    line-height: 1.75;
    margin-left: 0.4em;
    padding-bottom: 1px;
  }
}

.asset-tag__color-dot {
  $size: 14px;
  flex: 0 0 auto;

  display: inline-block;
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: gray;
  box-shadow: 1px 2px 2px rgba(115, 115, 115, 0.7);
  user-select: none;
}

/** Cool CSS invert text color thing I might use later
.tag-list__item {
  background-color: white;
  background-image: none;
  background-repeat: repeat-x;
  filter: none;

  &__text {
    color: white;
    text-shadow: 1px 1px 1px gray;
    mix-blend-mode: difference;
  }
*/
