.global-search__form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  margin: auto;
  max-width: unset;

  &__query-bar {
    position: relative;
  }

  &__filter-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1em;

    a#clear-filters-btn {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.global-search__results {
  display: block;

  table#search-results {
    display: none;
  }

  .cell-label {
    cursor: pointer;
  }

  .cell-label th[aria-sort]:not(.no-sort) {
    font-weight: $bold-font-weight;
  }

  th[aria-sort]:not(.no-sort) .cell-label__sort-indicator {
    float: right;
    margin-left: 5px;

    svg {
      fill: $hint-grey;
      height: 13px;
      transition: transform $base-duration $base-timing;
      width: 13px;
    }
  }

  .asset-tag__color-dot {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #welcome-screen,
  #no-results-screen {
    display: none;
    flex-flow: column nowrap;
    align-items: center;

    padding-top: 2em;

    svg {
      fill: gray;
      width: 4em;
      height: 4em;
    }

    h2 {
      font-size: 3em;
      font-weight: normal;
    }

    p {
      margin: 2em 0;
    }
  }
}
