.tag-list__index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0 0.5em;

  @media (min-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__tag-row {
    padding: 0.75em;
    border-bottom: 1px solid #dfe0e1;

    .tag-row__show-view,
    .tag-row__edit-view {
      display: flex;
      align-items: center;
      gap: 0.5em;

      button {
        margin-left: auto;
        padding: 0.65em 0.75em;
      }
    }

    &:hover {
      background-color: #e6e6e6;

      .color-edit-toggle {
        border-color: darkgray;
      }
    }

    .asset-tag {
      margin-right: auto;
    }

    .tag-edit-btn {
      margin-left: 1em;
    }

    .tag-destroy-btn {
      margin-left: 1em;
    }

    .color-edit-toggle {
      display: flex;
      align-items: center;
      justify-content: center;

      position: relative;
      padding: 0.7em;
      border: 1px solid #dfe0e1;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  &__tag-row__show {
    .tag-row__show-view {
      display: flex;
    }
    .tag-row__edit-view {
      display: none;
    }
  }
  &__tag-row__edit {
    .tag-row__show-view {
      display: none;
    }
    .tag-row__edit-view {
      display: flex;
    }
  }
}

// Library override
.pcr-color-chooser {
  margin-top: 0.75em !important;
}
