<span class="asset-tag">
  <span
    class="asset-tag__color-dot"
    style="background-color: <%= asset_tag.color %>"
  >
    &nbsp;
  </span>

  <span class="asset-tag__text">
    <%= asset_tag.name %>
  </span>
</span>
