.barcode-action-screen {
  display: flex;
  flex-flow: column nowrap;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: $base-background-color;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  transition: top 1s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 200;

  &--visible {
    top: 1em;
  }

  &__details {
    flex: 1 1 auto;

    display: grid;
    grid-template-rows: auto auto;
    align-content: start;
    gap: 0.5em 1em;

    margin-top: 1em;
    overflow-y: scroll;

    p.unknown-barcode {
      grid-column: 1 / span 2;
      color: lightgray;
      font-size: 0.9rem;
      margin: 0 0 1em;
    }
  }

  .asset-prop__name {
    grid-column: 1;
  }

  .asset-prop__value {
    grid-column: 2;
  }

  .asset-prop__tags {
    display: flex;
    flex-flow: row wrap;
    gap: 2px;
  }

  &__no-web-session-error {
    display: none;
    justify-content: center;

    margin: 1em 0 0;
    padding: 0.4em;
    font-size: 0.7rem;
    line-height: 1.2;
    text-align: center;
    color: #323200;
    background-color: lightyellow;
    border-radius: 3px;
    border: 1px solid yellow;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    gap: 1em;

    margin-top: 1em;

    .button {
      flex: 1 0 45%;
    }
  }

  .asset-tag {
    color: #2f2f2f;
    border-color: #2f2f2f;
    background-color: $cyan;
  }
}
