.barcode-scanner-app {
  display: flex;
  flex-flow: column nowrap;

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;

  .starting-message {
    margin: 4em auto auto;
    text-align: center;
  }

  #video-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -100;
  }

  .red-bar {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background-color: red;
    box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 0.35);
    z-index: 100;
  }

  .message-container {
    position: absolute;
    top: 1em;
    left: 0.5em;
    right: 0.5em;
  }

  .bottom-buttons {
    display: flex;
    justify-content: flex-end;

    margin: auto 1em 1em;

    .btn-switch-cameras {
      display: none;
      width: 3em;
      height: 3em;
      opacity: 0.75;
      cursor: pointer;
    }
  }

  .barcode-scanner-error {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
}
