.barcode-scanner-app {
  display: flex;
  flex-flow: column nowrap;

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;

  /* Disable double-tap-to-zoom */
  touch-action: manipulation;

  .starting-message {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column nowrap;

    margin: 4em auto auto;
    text-align: center;

    .permission-prompt {
      margin: auto 0 1em;
      color: $yellow;
      opacity: 0;
      transition: opacity 2s;
      animation: updown 4s ease-in-out infinite;
    }

    @keyframes updown {
      0% {
        transform: translateY(-50%);
      }

      50% {
        transform: translateY(50%);
      }

      100% {
        transform: translateY(-50%);
      }
    }
  }

  #video-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
    user-select: none;
    z-index: -100;
  }

  .red-bar {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    margin-top: -1px;
    background-color: red;
    box-shadow: 0px 0px 7px 1px rgba(255, 0, 0, 0.35);
    user-select: none;
    z-index: 100;
  }

  .message-container {
    position: absolute;
    top: 1em;
    left: 0.5em;
    right: 0.5em;
    user-select: none;
  }

  .bottom-buttons {
    display: flex;
    justify-content: flex-end;

    margin: auto 1em 1em;
    user-select: none;

    .btn-switch-cameras {
      display: none;
      width: 3em;
      height: 3em;
      opacity: 0.75;
      cursor: pointer;
    }
  }

  .barcode-scanner-error {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
}
