.barcode-scanner-error {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 1em;
  text-align: center;

  .warning-icons {
    color: #fc7c2f;
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;

    img.warning-icon {
      margin-top: 1em;
      width: 2em;
      height: 2em;
    }
  }

  h2.error-title {
    margin-top: 1.5em;
  }

  p.error-text {
    margin-top: 1em;
  }
}
