$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !default;

$base-font-size: 1em !default;
$base-line-height: 1.5 !default;
$base-font-color: white;
$base-background-color: #2264a9;

$heading-line-height: 1.2 !default;

$warning: #fc7c2f;
