<div class="barcode-action-screen">
  <h2 class="barcode-action-screen__title">Asset Name</h2>

  <div class="barcode-action-screen__details"></div>

  <p class="barcode-action-screen__no-web-session-error">
    Couldn't find a browser session for your account.
    <br />
    <br />
    You can scan assets to see their details, but log into the web app
    (or refresh the page) on your PC for expanded functionality.
  </p>

  <div class="barcode-action-screen__buttons">
    <button class="button button--gray cancel-btn">Close</button>
    <button class="button button--primary action-btn">Action Name</button>
  </div>
</div>
