<div class="barcode-action-screen">
  <h1>Asset Name</h1>

  <div class="barcode-action-screen__details">
    Scrollable details view...
    <% for i in 0..30 do %>
      <p>.</p>
    <% end %>
  </div>

  <div class="barcode-action-screen__buttons">
    <button class="button button--gray">Cancel</button>
    <button class="button button--primary">Action Name</button>
  </div>
</div>
