<div class="barcode-action-screen">
  <h2 class="barcode-action-screen__title">Asset Name</h2>

  <div class="barcode-action-screen__details"></div>

  <div class="barcode-action-screen__buttons">
    <button class="button button--gray">Cancel</button>
    <button class="button button--primary">Action Name</button>
  </div>
</div>
