<div class="barcode-scanner-error">
  <%= image_pack_tag 'media/images/exclamation-circle.svg', class: 'warning-icon' %>
  <h2 class="error-title">
    <%= @error_title %>
  </h2>
  <p class="error-text">
    <%= @error_text %>
  </p>
</div>
