<% content_for :javascript do %>
  <script type="text/javascript">
    $(function() {
      Packs['barcode-scanner'].initBarcodeScanner();
    });
  </script>
<% end %>

<div class="barcode-scanner-app">
  <div class="starting-message">
    <h3>Starting Scanner</h3>
    <p>Pwease wait UwU</p>
  </div>
  <video id="video-element" autoplay="true"></video>
  <div class="red-bar">&nbsp;</div>
  <div class="bottom-buttons">
    <%= image_pack_tag 'media/images/switch-cameras.svg', class: 'btn-switch-cameras' %>
  </div>
  <div class="message-container"></div>
</div>
