.field-unit--user-role-radio-field {
  align-items: start;
}

div.user-role-radios {
  .section {
    &:not(:last-of-type) {
      margin-bottom: 1em;
    }

    label {
      display: inline;
    }

    p.description {
      margin: 0 0 0 1.45em;
    }
  }
}
