<header class="main-content__header" role="banner">
  <form class="search global-search__form" role="search">
    <label class="search__label" for="search">
      <svg class="search__eyeglass-icon" role="img">
        <title>
          Filter asset names
        </title>
        <use xlink:href="#icon-eyeglass"></use>
      </svg>
    </label>

    <input
      class="search__input global-search__input"
      id="search"
      type="search"
      name="search"
      placeholder="Filter asset names"
      value=""
    />

    <a class="search__clear-link global-search__form__clear-btn" href="/admin/search">
      <svg class="search__clear-icon" role="img">
        <title>Clear search</title>
        <use xlink:href="#icon-cancel"></use>
      </svg>
    </a>
  </form>
</header>

<section class="main-content__body main-content__body--flush global-search__results">
  Uhh insert search page here
</section>
